.app {
    width: 100%;
    height: 800px;
    position: fixed;
}

.bubble {
    background-color: aquamarine;
    height: 100px;
    width: 5%;
    margin-top: 70%;
    margin-left: 47.5%;

}

#x {
    color: blue;
}